{
  "openapi": "3.0.0",
  "info": {
    "title": "Statistico Web API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.statisitco.io"
    }
  ],
  "paths": {
    "/fixture-search": {
      "post": {
        "tags": [
          "Fixture Search"
        ],
        "description": "Search for fixtures based on filters",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "leagueIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      16203,
                      340
                    ]
                  },
                  "dateRange": {
                    "type": "object",
                    "properties": {
                      "from": {
                        "$ref": "#/components/schemas/DateRFC3339"
                      },
                      "to": {
                        "$ref": "#/components/schemas/DateRFC3339"
                      }
                    }
                  },
                  "statFilters": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FixtureStatFilter"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of fixture resources matching filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "fixtures": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Fixture"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Default non 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Date": {
        "type": "object",
        "properties": {
          "utc": {
            "$ref": "#/components/schemas/DateUTC"
          },
          "rfc": {
            "$ref": "#/components/schemas/DateRFC3339"
          }
        }
      },
      "DateRFC3339": {
        "type": "string",
        "description": "An RFC-3339 valid datetime",
        "example": "2018-01-24T20:21:44+00:00"
      },
      "DateUTC": {
        "type": "integer",
        "description": "UTC representation of date/time",
        "example": 1573733379
      },
      "Error": {
        "type": "object",
        "required": [
          "message",
          "code"
        ],
        "properties": {
          "message": {
            "type": "string",
            "example": "Something went wrong",
            "description": "A human-readable description of the error"
          },
          "code": {
            "type": "integer",
            "example": 1,
            "description": "A code to identify the error. \"1\" is used when no specific error code has been defined for this error\n"
          }
        }
      },
      "Fixture": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 16679
          },
          "home_team": {
            "$ref": "#/components/schemas/Team"
          },
          "away_team": {
            "$ref": "#/components/schemas/Team"
          },
          "venue": {
            "$ref": "#/components/schemas/Venue"
          },
          "round": {
            "$ref": "#/components/schemas/Round"
          },
          "date_time": {
            "$ref": "#/components/schemas/Date"
          }
        }
      },
      "FixtureStatFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "goals_scored",
              "goals_conceded",
              "goals_combined",
              "corners_for",
              "corners_against",
              "corners_combined",
              "points_for",
              "points_against",
              "possession_for",
              "possession_against",
              "yellow_cards_for",
              "yellow_cards_against",
              "red_cards_for",
              "red_cards_against"
            ]
          },
          "team": {
            "type": "string",
            "enum": [
              "home",
              "away",
              "home_away"
            ]
          },
          "metric": {
            "type": "string",
            "enum": [
              "average",
              "total"
            ]
          },
          "measure": {
            "type": "string",
            "enum": [
              "gte",
              "lte"
            ]
          },
          "value": {
            "type": "number",
            "description": "The value associated to the filter type i.e. more than 2 goals scored",
            "example": 2.75
          },
          "venue": {
            "type": "string",
            "description": "The venue of the previous games to perform calculations from",
            "enum": [
              "home",
              "away",
              "home_away"
            ]
          },
          "games": {
            "type": "integer",
            "description": "The number of previous game to perform calculations from",
            "example": 5
          }
        }
      },
      "Round": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 6715
          },
          "name": {
            "type": "string",
            "example": "5"
          },
          "season_id": {
            "type": "integer",
            "example": 452
          },
          "start_date": {
            "$ref": "#/components/schemas/Date"
          },
          "end_date": {
            "$ref": "#/components/schemas/Date"
          }
        }
      },
      "StandardResponse": {
        "type": "object",
        "required": [
          "status",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "fail",
            "enum": [
              "error",
              "fail"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "errors": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "West Ham United"
          }
        }
      },
      "Venue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "London Stadium"
          }
        }
      }
    }
  }
}