openapi: 3.0.0
info:
  title: Statistico Web API
  version: 1.0.0
servers:
  - url: https://api.statistico.io
paths:
  /country/{id}/competitions:
    get:
      tags:
        - Country
      description: Get competition resources
      parameters:
        - name: id
          in: path
          description: ID of country resource
          required: true
          schema:
            type: number
            example: 462
      responses:
        200:
          description: The team resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      competitions:
                        type: array
                        items:
                          $ref: '#/components/schemas/Competition'
        default:
          description: Default non 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /competition/{id}/seasons:
    get:
      tags:
        - Competition
      description: Get season resources associated to a competition resource
      parameters:
        - name: id
          in: path
          description: The competition resource ID
          required: true
          schema:
            type: string
            example: 8
        - name: sort
          in: query
          description: Sort resources by ID
          required: false
          schema:
            type: string
            enum:
              - name_asc
              - name_desc
      responses:
        200:
          description: The team resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      seasons:
                        type: array
                        items:
                          $ref: '#/components/schemas/Season'
        default:
          description: Default non 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /fixture-search:
    post:
      tags:
        - In development
      description: Search for fixtures based on filters
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                leagueIds:
                  type: array
                  items:
                    type: integer
                  example: [16203, 340]
                dateRange:
                  type: object
                  properties:
                    from:
                      $ref: '#/components/schemas/DateRFC3339'
                    to:
                      $ref: '#/components/schemas/DateRFC3339'
                statFilters:
                  type: array
                  items:
                    $ref: '#/components/schemas/FixtureStatFilter'
      responses:
        200:
          description: A list of fixture resources matching filters
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'success'
                  data:
                    type: object
                    properties:
                      fixtures:
                        type: array
                        items:
                          $ref: '#/components/schemas/Fixture'
        default:
          description: Default non 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /team/{id}:
    get:
      tags:
        - Team
      description: Get a team resource
      parameters:
        - name: id
          in: path
          description: The id of the team resource
          required: true
          schema:
            type: string
            example: 1
      responses:
        200:
          description: The team resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      team:
                        $ref: '#/components/schemas/Team'
        default:
          description: Default non 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /season/{id}/teams:
    get:
      tags:
        - Season
      description: Get team resources associated to a season resource
      parameters:
        - name: id
          in: path
          description: The competition resource ID
          required: true
          schema:
            type: string
            example: 16036
      responses:
        200:
          description: The team resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      teams:
                        type: array
                        items:
                          $ref: '#/components/schemas/Team'
        default:
          description: Default non 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

  /result-search:
    post:
      tags:
        - Team
      description: Get result resources
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dateBefore:
                  $ref: '#/components/schemas/DateRFC3339'
                  nullable: true
                dateAfter:
                  $ref: '#/components/schemas/DateRFC3339'
                  nullable: true
                limit:
                  type: integer
                  example: 10
                  nullable: true
                sort:
                  type: string
                  enum:
                    - date_asc
                    - date_desc
                  nullable: true
                seasonIds:
                  type: array
                  items:
                    type: number
                  example: [16036, 12963]
                  nullable: true
                team:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 56
                    venue:
                      type: string
                      enum:
                        - home
                        - away
                      nullable: true
      responses:
        200:
          description: A list of result resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: '#/components/schemas/Result'
        default:
          description: Default non 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'

components:
  schemas:
    Competition:
      type: object
      properties:
        id:
          type: integer
          example: 475
        name:
          type: string
          example: English Premier League
        isCup:
          type: boolean
          example: false
        countryId:
          type: integer
          example: 462

    DateRFC3339:
      type: string
      description: "An RFC-3339 valid datetime"
      example: '2018-01-24T20:21:44+00:00'

    Error:
      type: object
      required:
        - message
        - code
      properties:
        message:
          type: string
          example: Something went wrong
          description: A human-readable description of the error
        code:
          type: integer
          example: 1
          description: >
            A code to identify the error. "1" is used when no specific error
            code has been defined for this error

    Fixture:
      type: object
      properties:
        id:
          type: integer
          example: 16679
        competition:
          $ref: '#/components/schemas/Competition'
        season:
          $ref: '#/components/schemas/Season'
        homeTeam:
          $ref: '#/components/schemas/Team'
        awayTeam:
          $ref: '#/components/schemas/Team'
        venue:
          $ref: '#/components/schemas/Venue'
        round:
          $ref: '#/components/schemas/Round'
        date:
          $ref: '#/components/schemas/DateRFC3339'

    FixtureStatFilter:
      type: object
      properties:
        type:
          type: string
          enum:
            - goals_scored
            - goals_conceded
            - goals_combined
            - corners_for
            - corners_against
            - corners_combined
            - points_for
            - points_against
            - possession_for
            - possession_against
            - yellow_cards_for
            - yellow_cards_against
            - red_cards_for
            - red_cards_against
        team:
          type: string
          enum:
            - home
            - away
            - home_away
        metric:
          type: string
          enum:
            - average
            - total
        measure:
          type: string
          enum:
            - gte
            - lte
        value:
          type: number
          description: The value associated to the filter type i.e. more than 2 goals scored
          example: 2.75
        venue:
          type: string
          description: The venue of the previous games to perform calculations from
          enum:
            - home
            - away
            - home_away
        games:
          type: integer
          description: The number of previous game to perform calculations from
          example: 5

    Result:
      type: object
      properties:
        id:
          type: integer
          example: 1720918
        homeTeam:
          $ref: '#/components/schemas/Team'
        awayTeam:
          $ref: '#/components/schemas/Team'
        season:
          $ref: '#/components/schemas/Season'
        round:
          $ref: '#/components/schemas/Round'
        venue:
          $ref: '#/components/schemas/Venue'
        date:
          $ref: '#/components/schemas/DateRFC3339'
        stats:
          type: object
          properties:
            homeScore:
              type: integer
              example: 3
            awayScore:
              type: integer
              example: 1

    Round:
      type: object
      properties:
        id:
          type: integer
          example: 6715
        name:
          type: string
          example: "5"
        seasonId:
          type: integer
          example: 452
        startDate:
          $ref: '#/components/schemas/DateRFC3339'
        endDate:
          $ref: '#/components/schemas/DateRFC3339'

    Season:
      type: object
      properties:
        id:
          type: integer
          example: 475
        name:
          type: string
          example: 2019/2020
        isCurrent:
          type: boolean
          example: false

    StandardResponse:
      type: object
      required:
        - status
        - data
      properties:
        status:
          type: string
          example: fail
          enum:
            - error
            - fail
        data:
          type: object
          properties:
            errors:
              type: array
              items:
                $ref: '#/components/schemas/Error'

    Team:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "West Ham United"
        shortCode:
          type: string
          example: "WHU"
          nullable: true
        countryId:
          type: integer
          example: 264
        venueId:
          type: integer
          example: 214
        isNationalTeam:
          type: boolean
          example: false
        founded:
          type: integer
          example: 1895
          nullable: true
        logo:
          type: string
          example: https://logo.com/1.png
          nullable: true

    Venue:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "London Stadium"
